:root {
    --blackBlue: #35445A;
    --afGradient: -webkit-linear-gradient(0deg, #A949D8, #DD4D61);
    --cream: #E8EDF1;
    --buttonShadow: -2px 2px 50px -10px #000000;
    --baloonShadow: -2px 2px 38px -9px #000000;
}

ul {
    position: relative;
    padding: 0;
    list-style-type: none;
    margin-bottom: 4em;
}
ul li {
    padding: 0.5em;
    margin-bottom: 3px;
    line-height: 1.5;
    border-radius: 15px;
    border-left: var(--afGradient);
    background: var(--afGradient);
    color:var(--cream);
    font-size: large;
}
ul li a{
    color:white;
}