@import url("chat_line_css/style.css");

html{
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div{
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv{
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none
}

#profileinfo {
    display: none
}

.buttongroup{
    text-align: center;
}

button {
    margin: 4px;
}

#avaliable_for_day{
    display: none;
}
#avaliable_for_month{
    display: none;
}

#notification_timing_avsolute_value{
    display: none;
}
#notification_week_number{
    display: none;
}
.roles,.members{
    display: block;
    vertical-align: top;
    text-align: center;
}

.list_add_button{
    text-align: right;
}

h1{
    text-align: center;
}

.button{
    background: -webkit-linear-gradient( 0deg ,#EE795D, #C769A3);
    font-size: large;
    border-radius: 20px;
    border-width: 0px;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}
body{
    background: #30363D;
}
.gradation{
    text-align: center;
    margin: 1em;
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg, #EE795D, #C769A3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
a{
    color: #ffffff;
}
.button{
    color: white;
}



label{
    color: #ffffff;
}
a.touban_button{
    width: 100%;
    position: relative;
    display: block;
    padding: 0.8em;
    text-align: center;
}

.babble{
    background:#BEF18C;
    border-radius: 7px;
    padding: 1em;
}

#liffdata{
    display:none;
}
.touban_background{
    color: white;
    border-radius: 7px;
    padding: 1em;
}
.touban_background > label, .touban_background > a{
    color: #ffffff;
}
.text_area{
    width:100%;

    border-radius: 7px;
}
.gradation_button{
    padding: 1em;
}
.btn{
    padding: 1em;
    border-radius: 7px;
    background: -webkit-linear-gradient(0deg, #EE795D, #C769A3);
    color: white;
}
.touban_form{
    display: inline-flex;
}
.nowrap{
    white-space: nowrap;
}
.vertical_slim{
    padding-top: 0em;
    padding-bottom: 0em;
}
#modaal_close{
    padding: 7px;
}

.modaal-content-container h3{
    /*text-align: center;*/
}

.no-margin-bottom{
    margin-bottom: 0px;
}
form{
    position :relative;
}

.trasition{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

/* checkbox */
input[type=checkbox] {
    display: none;
}

input[type="checkbox"].checkbox:checked + label{
    background: -webkit-linear-gradient(0deg, #EE795D, #C769A3);
    color: #ffffff;
    border: 0px;
}

.checkbox_label {
    display: block;
    float: left;
    margin: 5px;
    width: 100px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    /*border-left: 2px solid #EE795D;
    border-right: 2px solid #C769A3;*/
    border-radius: 7px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/*
.checkbox_label:before,
.checkbox_label:after {
    content:"";
    display:block;
    height:2px;
    width:100%;
    background:-webkit-linear-gradient(0deg, #EE795D, #C769A3);
    background:-moz-linear-gradient(left, #EE795D, #C769A3);
    background:linear-gradient(left, #EE795D, #C769A3);
}*/
.notification_dsoW{
    display: flex;
}

h1{
    margin-top: 2em;
}

.screen_center{

    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    text-align: center;
    height: 10em;
    vertical-align: middle;
}

.roles_list_del{
    min-width: 45px;
}
.touban_text_area{

}
.roles_list_var, .members_list_var{
    text-align: left;
}